html, body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #555;
    font-size: 16px;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.top-container {
    height: 45vh;
    width: 100%;
    background-size: cover;
    background: url("resources/img/Elegant_Background-12.jpg") no-repeat center;
}

.top-container #project-title {
    position: relative;
    text-align: center;
    color: #fffd;
    top:50%;
    transform: translateY(-100%);
    font-size: 70px;
}

.top-container #product-query-form {
    position:relative;
    top:50%;
    transform: translateY(-100%);
}

.top-container #product-query {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    font-size: 25px;
    height: 45px;
    background-color: #fff2;
    color: white;
    text-align: center;
    border-color:white;
}

.navbar {
    position: fixed;
    left:0;
    right:0;
    background-color: #0006;
}

.navbar-inverse a {
    color: #fffd !important;
}

.content-container {
    height: 100%;
}


#offer-list .product {
    height:100px;
    border-bottom:1px solid #ccc;
}

#offer-list .product:nth-child(even) {
    background-color: #f8f8f8;
}

#offer-list .product .prodImg,
#offer-list .product .prodDescription {
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position:relative;
}

#offer-list .product .prodImg {
    margin-left:60px;
    margin-right:30px;
}

#offer-list .product .prodDescription .prodTitle {
    display: block;
}

#offer-list .product .prodDescription .prodPrice {
    display: block;
    font-weight: bold;
    font-size: 18px;
}